body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3d7fd;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;
  max-width: 50rem;
  background: white;
  border: 2px solid black;
}

.box {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  font-size: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  /*iOSSafari*/
  -webkit-user-select: none;
  /*Safari*/
  -khtml-user-select: none;
  /*KonquerorHTML*/
  -moz-user-select: none;
  /*OldversionsofFirefox*/
  -ms-user-select: none;
  /*InternetExplorer/Edge*/
  user-select: none;
}

.resultBox {
  position: absolute;
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(0, 220, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.resultBox h1 {
  font-size: 5vw;
  text-align: center;
}

.resultBox button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #2f8ef3;
  color: white;
  cursor: pointer;
  border: 3px solid #2b86e6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.resultBox button:hover {
  background-color: #62aeff;
}

.homeScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 65vw;
  padding: 2rem 3rem;
  /* From https://css.glass */
  background: rgba(161, 197, 255, 0.324);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.create {
  width: 100%;
}

.join {
  width: 100%;
}

.playerName {
  width: 100%;
  margin-bottom: 2rem;
}

.homeScreen h1 {
  margin: 0;
}

.homeScreen label {
  font-size: 1.5rem;
}

.homeScreen input {
  width: 50%;
  font-size: 2rem;
  border-radius: 6px;
  height: 2.55rem;
}

.homeScreen button {
  font-size: 1rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #2f8ef3;
  color: white;
  cursor: pointer;
  border: 3px solid #2b86e6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.homeScreen button:hover {
  background-color: #62aeff;
}

.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
